body {
    background-color: #1f2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.nav-bar {
    margin: 0;
    padding: 20px;
}
.nav-bar #header-logo {
    font-size: 24px;
    color: #f9faf8;
}