body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}
header {
    background-color: #1f2937;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}
h1 h2 h3 h4  p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.main-nav-bar {
    padding: 10px 150px;
    justify-content: space-between;
    display: flex;
}
.nav-bar-left {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    text-align: left;
    display: flex;
}
.nav-bar-right {
    text-align: right;
    color: #e5e7eb;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 25px;
    display: flex;
}
.banner-container {
    padding: 130px;
    padding-right: 0;
    padding-bottom: 0;
    justify-content: space-between;
    
}
.banner-main-text p {
    position: flex;
    display: flex;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    text-align: left;
    padding: 0;
    margin: 0;
}
.banner-secondary-text p {
    position: flex;
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    align-items: left;
    text-align: left;
}
.banner-button {
    justify-content: space-between;
    display: fixed;
    margin-left: 130px;
    margin-bottom: 50px;
    padding: 0;
    margin-top: 0;
}
.sign-up-btn {
    padding: 8px 24px;
    margin-top: 5px;
    background: #3882f6;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #f9faf8;
    justify-content: space-between;
    align-items: left;
    display: flex;
}
.banner-image {
    padding: 10px 150px;
    justify-content: space-between;
    display: flex;
    position: relative;
}
.image-placeholder {
    position: flex;
    align-items: right;
    padding: 100px;
    margin: 0;
    background: #e5e7eb;
}
