* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}
header {
    background-color: #1f2937;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}
h1 h2 h3 h4  p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.main-nav-bar {
    padding: 10px 150px;
    justify-content: space-between;
    display: flex;
}
.nav-bar-left {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    text-align: left;
    display: flex;
}
.nav-bar-right {
    text-align: right;
    color: #e5e7eb;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 25px;
    display: flex;
}
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 150px;
}
.banner-text {
    max-width: 500px;
}
.banner-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 15px;
}
.banner-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 20px;
}
.banner-text button {
    background: #3882f6;
    color: #f9faf8;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer; 
}
.banner-image .image-placeholder {
    width: 550px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6d747d;
    color: #f9faf8;
}
.info-container {
    padding: 30px;
    justify-content: center;
    display: center;
    align-items: center;
}
.info-container h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-bottom: 30px;
}
.info-container p {
    color: #6d747d;
    font-size: 18px;
    justify-content: center;
    display: flex;
    text-align: center;
}
.info-container-grid {
    display: grid;
    grid-template-columns: repeat(4, 160px);
    gap: 40px;
    justify-content: center;
}
.info-one {
    text-align: center;
}
.info-box-one {
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 16px;
    margin: 0 auto 15px;
}
.info-two {
    text-align: center;
}
.info-box-two {
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 16px;
    margin: 0 auto 15px;
}
.info-three {
    text-align: center;
}
.info-box-three {
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 16px;
    margin: 0 auto 15px;
}
.info-four {
    text-align: center;
}
.info-box-four {
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 16px;
    margin: 0 auto 15px;
}
.info-container p {
    font-size: 16px;
}