body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}
header {
    background-color: #1f2937;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
h1 h2 h3 h4  p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.main-nav-bar {
    padding: 10px 150px;
    justify-content: space-between;
    display: fixed;
}
.nav-bar-left {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    text-align: left;
}
.nav-bar-right {
    text-align: right;
    color: #e5e7eb;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 25px;
    display: fixed;
}
.banner-container {
    padding: 130px;
    justify-content: space-between;
    display: fixed;
}
#hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    text-align: left;
    padding: 0;
    margin: 0;
}
#hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    text-align: left;
    padding: 0;
    margin: 0;
}
.banner-button {
    
}
